<form >
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input required minlenght="4" maxlength="7" ngModel name="firstName" #firstName="ngModel" (change)="log(firstName)" id="firstName" type="text" class="form-control">
      <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
        <div *ngIf="firstName.errors.required">First Name Required</div>
        <div *ngIf="firstName.errors.minlenght">name should be at least 4 characters</div>
        <div *ngIf="firstName.errors.maxlength">max 7 characters</div>
      </div>
    </div>

    <div class="form-group">
      <label for="comment">Comment</label>
      <textarea id="comment" cols="30" rows="10" class="form-control"></textarea>
    </div>

    <button class="btn btn-primary">Submit</button>
</form>